* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

header {
  width: 100%;
  height: 120px;
  display: flex;
  padding: 0 24px;
  gap: 24px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

a {
  text-decoration: none;
  color: #d3aa13;
  font-size: 32px;
  font-weight: 700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

body{
    overflow-x: hidden;
  }

  .planes {
    display: flex;
    gap: 48px;
    padding: 24px;
  }

  .plan {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

.planpersona {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: URL(../img/Fondo_PlanPersona.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 130px;
  color: white;
  font-size: 40px;
  font-family: "Lato", sans-serif;
  left: calc(50% - 1338px / 2 - 1px);
}

.fondopersona{
width: 340px;
height: 340px;
border-radius: 300px;
}

h2{
text-align: center;
color: #d3aa13;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-size: 30px;
}

.servicio{
color: #525252;
font-size: 20px;
font-weight: 400;
}

.fondoadulto{
width: 340px;
height: 340px;
border-radius: 300px;
}

h3{
  text-align: center;
color: #d3aa13;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-size: 30px;
}

.footer {
  width: 100%;
  height: 200px;
  background-color: #595e09;
  padding: 24px;
  display: flex;
  color: #ffff;
}

.img3 {
  width: 100%;
  height: 20px;
}
.logoFooter {
  width: 180px;
  height: 150px;
}

.footer1 {
  width: 50%;
  display: flex;
  border-right: solid 2px;
  justify-content: center;
}

.sloganFooter {
  padding-top: 6px;
  font-size: 16px;
  font-weight: 400;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logoSlogan {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.info {
  width: 50%;
  font-size: 20px;
  font-weight: 400;
  padding: 4px;
  text-align: left;
}
.footer2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h4 {
  font-size: 32px;
  font-weight: 400;
  text-align: center;
}
.redes{
    width: 100%;
    display: flex;
    justify-content: center;
}
.icon{
    color: #ffff;
    padding: 10px 40px;
}
.copy{
    width: 100%;
    color: #ffff;
    font-size: 14px;
    font-weight: 400;
    padding-top: 20px;
    text-align: center;
} 