* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

header {
  width: 100%;
  height: 120px;
  display: flex;
  padding: 0 24px;
  gap: 24px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  
}

a {
  text-decoration: none;
  color: #d3aa13;
  font-size: 32px;
  font-weight: 700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
  
}

.banner {
  display: flex;
  width: 100%;
  height: 500px;
  background-image: url(../img/bannerHome.PNG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  clip-path: polygon(50% 100%, 100% 80%, 100% 0, 0 0, 0 80%);
  opacity: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoBanner {
  width: 400px;
  height: 350px;
  color: #ffff;
  filter: brightness(1.75);
}

.Slogan {
  width: 500px;
  height: 50px;
  background-color: #939b0e;
  color: #ffff;
  text-align: center;
  padding-top: 6px;
  font-size: 24px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titulo {
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  padding: 30px;
  color: #595e09;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.home1 {
  width: 90%;
  padding: 20px;
  display: flex;
}
.img1 {
  width: 100%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.colum1 {
  width: 70%;
}

.colum2 {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
}

.img2 { 
  width: 500px;
}
.agradecimiento {
  width: 430px;
  color: #595e09;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  padding-top: 40px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.parrafoHome1 {
  font-size: 18px;
  font-weight: 400;
  padding: 3px;
  color: #525252;
}

.home2 {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.beneficios {
  border: #ffff thin ridge;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-size: 24px;
  font-weight: 400;
  padding: 4px;
  color: #525252;
  text-align: center;
}
.subtitulo {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  padding: 20px;
  color: #595e09;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mapa {
  width: 100%;
  height: 250px;
  padding-top: 15px;
  padding-bottom: 15px;
}

/*footer*/

.footer {
  width: 100%;
  height: 200px;
  background-color: #595e09;
  padding: 24px;
  display: flex;
  
  color: #ffff;
}

.img3 {
  width: 100%;
  height: 20px;
}
.logoFooter {
  width: 180px;
  height: 150px;
}

.footer1 {
  width: 50%;
  display: flex;
  border-right: solid 2px;
  justify-content: center;
}

.sloganFooter {
  padding-top: 6px;
  font-size: 16px;
  font-weight: 400;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logoSlogan {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.info {
  width: 50%;
  font-size: 20px;
  font-weight: 400;
  padding: 4px;
  text-align: left;
}
.footer2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h3 {
  font-size: 32px;
  font-weight: 400;
  text-align: center;
}
.redes{
    width: 100%;
    display: flex;
    justify-content: center;
}
.icon{
    color: #ffff;
    padding: 10px 40px;
}
.copy{
    width: 100%;
    color: #ffff;
    font-size: 14px;
    font-weight: 400;
    padding-top: 20px;
    text-align: center;
}
